*{
    margin: 0;
    padding: 0;
}

.top{
    background-image :url(ai-generated-8274116_1280.png) ;
}

section{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
